{"ignition":{"config":{"append":[{"source":"http://{{ inventory_hostname  }}}:8000/bootstrap.ign","verification":{}}]},"security":{},"timeouts":{},"version":"2.2.0"},"networkd":{},"passwd":{},"storage":{},"systemd":{}}
