$ORIGIN .
$TTL 60
{{ rev_domain }}.  60   IN    SOA    api.{{ domain }}. admin.{{ domain }}. (
                  6        ; Serial
              86400        ; Refresh
               7200        ; Retry
            2419200        ; Expire
                  1 )      ; Negative Cache TTL
;
; name servers - NS records
                            NS    api.{{ domain }}.

$ORIGIN {{ rev_domain }}.
$TTL 1
; PTR records

{{ hostvars['api'].fixed_ip.split(".")[3] }}        IN  PTR api.{{ domain }}.
{{ hostvars['api'].fixed_ip.split(".")[3] }}        IN  PTR api-int.{{ domain }}.
{{ hostvars['bootstrap'].fixed_ip.split(".")[3] }}  IN  PTR bootstrap.{{ domain }}.
{{ hostvars['master-0'].fixed_ip.split(".")[3] }}   IN  PTR master-0.{{ domain }}.
{{ hostvars['master-1'].fixed_ip.split(".")[3] }}   IN  PTR master-1.{{ domain }}.
{{ hostvars['master-2'].fixed_ip.split(".")[3] }}   IN  PTR master-2.{{ domain }}.
{{ hostvars['master-0'].fixed_ip.split(".")[3] }}   IN  PTR worker-0.{{ domain }}.
{{ hostvars['worker-1'].fixed_ip.split(".")[3] }}   IN  PTR worker-1.{{ domain }}.
{{ hostvars['worker-2'].fixed_ip.split(".")[3] }}   IN  PTR worker-2.{{ domain }}.
